/* 
    Elements: Page
    ---
    Default markup for page level elements
*/

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: "helvetica neue", Helvetica, Arial, sans-serif;
    color: #111;
    padding: 24px 24px 0px;
}

body{
    background-color: rgb(250, 251, 252);
    color: rgb(0, 0, 172);
    margin: 0;
    padding: 0;
}

img
{
    max-width: 100%;
    vertical-align: top;
}

::-moz-selection /*brouser prefix selection is voor*/
{

}

::selection {

}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1 {
    font-family: 'Times New Roman', Times, serif,;
    font-size: 36px;
    font-weight: normal;
    line-height: 40px;
    margin: 0 0 48px;
}

h2 {
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24;
}

h3 {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol,
blockquote {
    padding-left: 24px;
}

li ul,
li ol{
    margin-bottom: 0;
}

blockquote {
    font-size: italic;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
    font-family: 'Times New Roman', Times, serif;
}

figcaption {
    font-size: 12px;
    line-height: 16px;
    padding-top: 8px;
    color: grey;
}

hr
{
    border: 0px;
    height: 1px;
    background: lightgrey;
    margin: 0 0 24px;
}

a 
{
    color: royalblue;
    transition: all 0.1s ease-in-out;
}
a:visited, /*LoVe befor Hate (visited en active voor hover en focus)*/
a:active {
    color: blueviolet;
}

a:hover,
a:focus {
    color: crimson;
}

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    Modify as content requires.
*/


/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    html
    {
        /* padding: 48px 48px 0 48px; */
    }

    h1
    {
        font-size: 58px;
        line-height: 64px;
    }
}

/* Large devices (landscape tablets, desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.c-nav-links{

}

.c-nav-links li{
    display: inline-block;
    margin: 0 15px;
}

.c-nav-links li a{
    text-decoration: none;
    padding: 5px 0;
    position: relative;
    color: rgb(0, 0, 172);
}

.c-nav-links li a::after{
    content: '';
    background: rgb(0, 0, 172);
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.c-nav-links li a:hover::after{
    width: 100%;
}

.c-layout {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-between; */
}
  
.c-layout__item {
    background-color: #fff;
    /* border: .2rem solid #AAAAAA; */
    /* padding: 6rem min(15rem,40%); */
    width: min(500px,100%);
    height: 300px;
    text-align: center;
    /* margin: 0p 0px 90px 0px; */
    margin: 0 -20px;
    padding: 0 20px;
    box-shadow: 1px 1px 3px 3px rgb(242, 244, 246);
}




svg{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}
svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: rgb(250, 251, 252);
    stroke-width: 10;
    stroke-linecap: round;
    transform:  translate(5px,5px);
}
svg circle:nth-child(2)
{
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
.card .c-second-circle{
    stroke-dashoffset: calc(440 - (440 * 90) / 100);
    stroke: #003cff;
}
.container{
    position: relative;
    display: flex;
    justify-content: space-around;
}
/* .container .card{
    position: relative;
    width: 250px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
} */
/* .container .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
} */
/* .container .card::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .03);
    pointer-events: none;
    z-index: 1;
} */
.percent{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: white;
    z-index: 1000;
}
.percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
.percent .number h2{
    color: #777;
    font-weight: 700;
    font-size: 40px;
    transition: 0.5s;
}
/* .card:hover .percent .number h2{
    color: #fff;
    font-size: 60px;
} */
.percent .number h2 span{
    font-size: 24px;
    color: #777;
    transition: 0.5s;
}
/* .card:hover .percent .number h2 span{
    color: #fff;
} */
.text{
    position: relative;
    color: #777;
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
    
}
/* .card:hover .text{
    color: #fff;
} */